# Archivos de entorno (¡NUNCA subir!)
.env
.env.*

# Entornos virtuales
venv/
env/
.venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db